In [6]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df=pd.read_csv('multilinearregression.csv',sep=';')

In [4]:
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [7]:
reg=linear_model.LinearRegression()
reg.fit(df[['alan','odasayisi','binayasi']],df['fiyat'])
a=reg.predict([[500,5,5]])
print(int(a))

833300

C:\Users\r_oru\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(